

<div class="about" id="about-navigation">
    <h2>Share your feelings <span><i class="bi bi-heart-fill"></i></span></h2>
    <h4>Expressing your feelings is good for you and has many benefits, it help you to...</h4>
    <div class="boxes top-boxes">
        <div class="box box_green">
            <h5>Receive greater acceptance</h5>
        </div>
        <div class="box box_white">
            <h5>Communicate effectively</h5>
        </div>
        <div class="box box-3 box_green">
            <h5>Gain emotional stability</h5>
        </div>
    </div>
    <div class="boxes bottom-boxes">
        <div class="box box_white">
            <h5>Connect more with others and feel less distant</h5>
        </div>
        <div class="box box_green">
            <h5>Understand how to manage and regulate your emotions</h5>
        </div>
    </div>
</div>