<div class="viewFeatures">
    <div class="features">
        <div class="feature">
            <h4>Interact Anonymously</h4>
            <p>No one will know who you are</p>
            <div class="feature-img"><img src="anonymous.png"></div>
        </div>
        <div class="feature">
            <h4>24x7 Moderation</h4>
            <p>Keep bullies and trolls away</p>
            <div class="feature-img"><img src="moderation.png"></div>
        </div>
        <div class="feature">
            <h4>No 'Like' Button</h4>
            <p>Your feelings are not a number</p>
            <div class="feature-img"><img src="like.png"></div>
        </div>
        <div class="feature">
            <h4>Trigger Warning</h4>
            <p>Hides sensitive content</p>
            <div class="feature-img"><img src="alert.png"></div>
        </div>
    </div>
</div>