
<div class="landing">
    <div class="landing-right">
        <h1>If you need <span style="color:#ff3666;">someone to talk</span> to, you're at the right place</h1>
        <h4>Whatever your experiences might be, there's a place for them at Beloved</h4>
        <button class="landing-post">Share your feelings</button>
        <button class="landing-comment">Help someone out</button>
    </div>
    <div class="landing-left">
        <img src="landing-bg.png">
    </div>
    
</div>


<!--shapedividers_com-95-->