
<div class="home-right-content">
    <div class="quote-box">
        <div class="circle"> <img id="img" src="left-quote.png"></div>
        <div class="quote"> <p id="quote"></p> </div>
        <div class="author"> <p id="author"></p> </div>
    </div>
</div>


<script>
    const quotes = [
    {
      quote: " Do not let what you cannot do interfere with what you can do",
      author: "John Wooden"
    },
    {
      quote:
        "	Although the world is full of suffering,it is also full of the overcoming of it ",
      author: "Helen Keller"
    },
    {
      quote:
        " In the midst of winter, I finally learned that there was in me an invincible summer",
      author: "Albert Camus"
    },
    {
      quote:
        "	Truly ,it is in the darkness that one finds the light,so when we are in sorrow, then this light is nearest of all to us",
      author: "Meister Eckhart"
    },
    {
      quote: "You become what you think about",
      author: "Earl Nightingale"
    },
    {
      quote:
        "A positive attitude gives you power over your circumstances having power over you.",
      author: "Joyce Meyer"
    },
    {
      quote:
        "Man is fond of counting his troubles,but he does not count his joys.If he counted them up as he ought to, he would see that every lot has enough happiness provided for it.",
      author: "Fyodor Dostoevsky"
    },
    {
      quote:
        "when people don't know exactly what depression is,they can be judgemental. ",
      author: "Mario Cotilloard"
    },
    {
      quote:
        "I saw the world in black and white instead of the vibrant colours and shades I knew existed.",
      author: "Katie McGarry"
    },
    {
      quote:
        "You don't have to live lie.Living a lie will mess you u.It will send you into depression.It will warp your values.",
      author: "Gilbert Baker"
    },
    {
      quote:
        "The pupil dilates in darkness and in the finds light,just as the soul dilates in misfortune and in the end finds God.",
      author: "Victor Hugo"
    },
    {
      quote:
        "May be all have darkness inside of us and some of us are better at dealing with it than others.",
      author: "Jasmine Warga"
    },
    {
      quote:
        "So often times it happens that we live our lives in chains and we never even know we have the key.",
      author: "The Eagles"
    },
    {
      quote:
        "Positive thoughts and prayer have been the best means available, since the beginning of time, to transform darkness to light.",
      author: "Cate Stevens"
    },
    {
      quote:
        "Darkness cannot drive out darkness; only light can do that. Hate cannot drive out hate; only love can do that.",
      author: " Martin Luther King, Jr."
    },
    {
      quote:
        " Faith is taking the first step even when you don’t see the whole staircase.",
      author: "Martin Luther King, Jr. "
    },
    {
      quote:
        "Hope begins in the dark, the stubborn hope that if you just show up and try to do the right thing, the dawn will come. You wait and watch and work: you don’t give up.",
      author: "Anne Lamott"
    },
    {
      quote:
        "Our greatest glory is not in never failing but in rising up every time we fail.",
      author: "Ralph Waldo Emerson "
    },
    {
      quote: "No matter how dark the moment, love and hope are always possible.",
      author: "George Chakiris "
    },
    {
      quote: "It is often in the darkest skies that we see the brightest stars.",
      author: "Richard Evans "
    },
    {
      quote:
        "Even in the midst of devastation, something within us always points the way to freedom.",
      author: "Sharon Salzberg"
    },
    {
      quote:
        "When you adopt a positive mindset, you are harnessing the power of choice",
      author: "Victor Schueller"
    },
    {
      quote:
        "Don’t be afraid if things seem difficult in the beginning. That’s only the initial impression. The important thing is not to retreat; you have to master yourself.",
      author: "Olga Korbut"
    },
    {
      quote:
        "The power is in you. The answer is in you. And you are the answer to all your searches: you are the goal. You are the answer. It’s never outside.",
      author: "Eckhart Tolle"
    },
    {
      quote:
        " You say you’re ‘depressed’ – all I see is resilience. You are allowed to feel messed up and inside out. It doesn’t mean you’re defective – it just means you’re human.  ",
      author: " David Mitchell "
    },
    {
      quote: "It’s Not Whether You Get Knocked Down, It’s Whether You Get Up.",
      author: "Vince Lombardi"
    },
    {
      quote: "Whatever the mind of man can conceive and believe, it can achieve.",
      author: "Napoleon Hill"
    },
    {
      quote: "Definiteness of purpose is the starting point of all achievement.",
      author: "W. Clement Stone"
    },
    {
      quote: "Life isn't about getting and having, it's about giving and being.",
      author: "Kevin Kruse"
    },
    {
      quote: "The mind is everything. What you think you become.",
      author: "Buddha"
    },
    {
      quote:
        "Happiness is not something readymade.  It comes from your own actions.",
      author: "Dalai Lama"
    },
    {
      quote:
        "Life is never fair, and perhaps it is a good thing for most of us that it is not.",
      author: "Oscar Wilde"
    },
    {
      quote:
        "Never think of pain or danger or enemies a moment longer than is necessary to fight them.",
      author: "​Ayn Rand"
    },
    {
      quote:
        "And in the end, we were all just humans... drunk on the idea that love, only love, could heal our brokenness.",
      author: "F. Scott Fitzgerald"
    },
    {
      quote:
        "No matter what the day brings and no matter how hard life hits you, if you can breathe, smile and keep moving on! Once you have life, know that God is alive!",
      author: "Ernest Agyemang Yeboah"
    },
    {
      quote:
        "Keep calm when things don’t go according to your expectations! Beautiful things always meet friction!",
      author: "Ernest Agyemang Yeboah"
    },
    {
      quote: "Nothing can dim the light that shines from within.",
      author: "Maya Angelou"
    },
    {
      quote:
        "Blessed is he who expects nothing, for he shall never be disappointed.",
      author: "Alexander Pope"
    },
    {
      quote: "Even if you fall on your face, you’re still moving forward.",
      author: "Victor Kiam"
    },
    {
      quote:
        "The Pessimist Sees Difficulty In Every Opportunity. The Optimist Sees Opportunity In Every Difficulty.",
      author: "Winston Churchill"
    },
    {
      quote: "We May Encounter Many Defeats But We Must Not Be Defeated.",
      author: "Maya Angelou"
    },
    {
      quote:
        "Do just once what others say you can't do, and you will never pay attention to their limitations again.",
      author: "James R. Cook"
    },
    {
      quote: "Life is what happens when you’re busy making other plans.",
      author: "John Lennon"
    },
    {
      quote: "You only live once, but if you do it right, once is enough.",
      author: "Mae West"
    },
    {
      quote: "Those who dare to fail miserably can achieve greatly.",
      author: "John F. Kennedy"
    },
    {
      quote: "Dream big and dare to fail.",
      author: "Norman Vaughan"
    },
    {
      quote: "If you judge people, you have no time to love them.",
      author: "Mother Teresa"
    },
    {
      quote:
        "A successful man is one who can lay a firm foundation with the bricks others have thrown at him.",
      author: "David Brinkley"
    },
    {
      quote: "No one can make you feel inferior without your consent.",
      author: "Eleanor Roosevelt"
    },
    {
      quote:
        "Every great dream begins with a dreamer. Always remember, you have within you the strength, the patience, and the passion to reach for the stars to change the world.",
      author: "Harriet Tubman"
    },
    {
      quote:
        "Success is not final, failure is not fatal: it is the courage to continue that counts.",
      author: "Winston Churchill"
    },
    {
      quote:
        "The only person you are destined to become is the person you decide to be.",
      author: "Ralph Waldo Emerson"
    },
    {
      quote: "Those who cannot remember the past are condemned to repeat it.",
      author: "George Santayana"
    },
    {
      quote:
        "Life is not a problem to be solved, but a reality to be experienced.",
      author: "Søren Kierkegaard"
    },
    {
      quote:
        "Challenges are what make life interesting and overcoming them is what makes life meaningful.",
      author: "Joshua J. Marine"
    },
    {
      quote:
        "All our dreams can come true if we have the courage to pursue them.",
      author: "Walt Disney"
    },
    {
      quote: "You are never too old to set another goal or to dream a new dream.",
      author: "C.S. Lewis"
    },
    {
      quote:
        "There are two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.",
      author: "Albert Einstein"
    },
    {
      quote: "A champion needs a motivation above and beyond winning.",
      author: "Pat Riley"
    },
    {
      quote: "Imagination has a great deal to do with winning.",
      author: "Mike Krzyzewski"
    },
    {
      quote:
        "To forgive is the highest, most beautiful form of love. In return, you will receive untold peace and happiness.",
      author: "Robert Muller"
    },
    {
      quote:
        "Get it down. Take chances. It may be bad, but it's the only way you can do anything really good.",
      author: "William Faulkner"
    },
    {
      quote: "Do What You Can With All You Have, Wherever You Are.",
      author: "Theodore Roosevelt"
    },
    {
      quote:
        "Things Work Out Best For Those Who Make The Best Of How Things Work Out.",
      author: "John Wooden"
    },
    {
      quote:
        "You never really understand a person until you consider things from his point of view. Until you climb inside of his skin and walk around in it.",
      author: "Harper Lee"
    },
    {
      quote:
        "There is nothing noble in being superior to your fellow man. True nobility is being superior to your former self.",
      author: "Ernest Hemingway"
    },
    {
      quote:
        "Reality is created by the mind; we can change our reality by changing our mind.",
      author: "Plato"
    },
    {
      quote:
        "The secret of happiness, you see, is not found in seeking more, but in developing the capacity to enjoy less.",
      author: "Socrates"
    },
    {
      quote: "The journey of a thousand miles begins with one step.",
      author: "Lao Tzu"
    },
    {
      quote:
        "The greater danger for most of us lies not in setting our aim too high and falling short; but in setting our aim too low and achieving our mark.",
      author: "Michelangelo"
    },
    {
      quote:
        "You're like a grey sky. You're beautiful, even though you don't want to be.",
      author: "Jasmine Warga"
    },
    {
      quote:
        "Every man has his secret sorrows which the world knows not; and often times we call a man cold when he is only sad.",
      author: "Henry Wadsworth Longfellow"
    },
    {
      quote:
        "A positive attitude gives you power over your circumstances instead of your circumstances having power over you.",
      author: "Joyce Meyer"
    },
    {
      quote:
        "Truly, it is in the darkness that one finds the light, so when we are in sorrow, then this light is nearest of all to us.",
      author: "Meister Eckhart"
    },
    {
      quote:
        "Do not wait until the conditions are perfect to begin. Beginning makes the conditions perfect.",
      author: "Alan Cohen"
    },
    {
      quote:
        "Positive thoughts and prayer have been the best means available, since the beginning of time, to transform darkness to light.",
      author: "Cate Stevens"
    },
    {
      quote: "It is often in the darkest skies that we see the brightest stars.",
      author: "Richard Evans"
    },
    {
      quote:
        "Don’t be afraid if things seem difficult in the beginning. That’s only the initial impression. The important thing is not to retreat, you have to master yourself.",
      author: "Olga Korbut"
    },
    {
      quote:
        "When you adopt a positive mindset, you are harnessing the power of choice.",
      author: "Victor Schueller"
    },
    {
      quote:
        "Don’t let life discourage you; everyone who got where he is had to begin where he was.",
      author: "Richard L. Evans"
    },
    {
      quote:
        "Sometimes your joy is the source of your smile, but sometimes your smile can be the source of your joy.",
      author: "Thich Nhat Hanh"
    },
    {
      quote:
        "Remember always that you not only have the right to be an individual, you have an obligation to be one.",
      author: "Eleanor Roosevelt"
    },
    {
      quote:
        "Never let your head hang down. Never give up and sit down and grieve. Find another way.",
      author: "Leroy Satchel Paige"
    },
    {
      quote:
        "Blessed is he who expects nothing, for he shall never be disappointed.",
      author: "Alexander Pope"
    },
    {
      quote:
        "If you can find a path with no obstacles, it probably doesn’t lead anywhere.",
      author: "Frank A. Clark"
    },
    {
      quote:
        "There are wounds that never show on the body that are deeper and more hurtful than anything that bleeds.",
      author: "Laurell K. Hamilton"
    },
    {
      quote:
        "There are times when explanations, no matter how reasonable, just don’t seem to help.",
      author: "Fred Rogers"
    },
    {
      quote:
        "A depressing and difficult passage has prefaced every page I have turned in life.",
      author: "Charlotte Brontë"
    },
    {
      quote:
        "No storm, not even the one in your life, can last forever. The storm is just passing over.",
      author: "Iyanla Vanzant"
    },
    {
      quote:
        "Being deluded and scared will make you suffocate. Being honest with yourself and responsible will make you breathe.",
      author: "Maxime Lagacé"
    },
    {
      quote:
        "The fundamental delusion – there is something out there that will make me happy and fulfilled forever.",
      author: "Naval Ravikant"
    },
    {
      quote:
        "There are moments when troubles enter our lives and we can do nothing to avoid them. But they are there for a reason. Only when we have overcome them we will understand why they were there.",
      author: " Paulo Coelho"
    },
    {
      quote:
        " Forget past mistakes. Forget failures. Forget about everything except what you're going to do now—and do it.",
      author: "William Durant"
    },
    {
      quote: "Do what you can, with what you have, where you are.",
      author: "Theodore Roosevelt"
    },
    {
      quote:
        "When you adopt a positive mindset, you are harnessing the power of choice.",
      author: " Victor Schueller"
    },
    {
      quote:
        "Get it down. Take chances. It may be bad, but it's the only way you can do anything really good.",
  
      author: "William Faulkner"
    },
    {
      quote: "You only live once, but if you do it right, once is enough.",
      author: "Mae West"
    },
    {
      quote: "Be the change that you wish to see in the world.",
      author: "Mahatma Gandhi"
    },
    {
      quote: "We accept the love we think we deserve.",
      author: " Stephen Chbosky"
    },
    {
      quote:
        "To be yourself in a world that is constantly trying to make you something else is the greatest accomplishment.",
      author: "Ralph Waldo Emerson"
    },
    {
      quote:
        "Live as if you were to die tomorrow. Learn as if you were to live forever.",
      author: "Mahatma Gandhi"
    }
  ];

  function getRandomQuotes(array) {
    var randomIndex = Math.random() * array.length;
    let index = Math.floor(randomIndex);
    let quote = array[index].quote;
    let author = array[index].author;

    document.getElementById("quote").innerHTML = quote;
    document.getElementById("author").innerHTML = "_"+author;

  }
  
  getRandomQuotes(quotes);
</script>


