<%- include('partials/header') %>
<div id="box">
    <form id="myform-search" method="post" action="" autocomplete="off">
    <h1>Change Password <span>choose a good one!</span></h1>
    <form>
      <p>
        <input name="changePass1" type="password" value="" placeholder="Enter Password" id="p" class="password">
        <button class="unmask" type="button"></button>
      </p>
      <p>     
        <input name="changePass2" type="password" value="" placeholder="Confirm Password" id="p-c" class="password">
        <button class="unmask" type="button"></button>
      <div id="strong"><span></span></div>
      <div id="valid"></div>
      <small>Must be 6+ characters long and contain at least 1 upper case letter, 1 number, 1 special character</small>
      </p>
    </form>
  </div>


  <script>
      $('.unmask').on('click', function(){  
  if($(this).prev('input').attr('type') == 'password')
    $(this).prev('input').prop('type', 'text');  
  else
    $(this).prev('input').prop('type', 'password');  
  return false;
});
//Begin supreme heuristics 
$('.password').on('keyup',function (){
  var p_c = $('#p-c');
  var p = $('#p');
  console.log(p.val() + p_c.val());
 if(p.val().length > 0){
  if(p.val() != p_c.val()) {
    $('#valid').html("Passwords Don't Match");
  } else {
     $('#valid').html('');  
  }
    var s = 'weak'
if(p.val().length > 5 && p.val().match(/\d+/g))
  s = 'medium';
if(p.val().length > 6 && p.val().match(/[^\w\s]/gi))
  s = 'strong';   
   $('#strong span').addClass(s).html(s);
  }
});

  </script>