<%- include('partials/header') %>
<div id="error-box">
    <div class="dot"></div>
    <div class="dot two"></div>
    <div class="face2">
      <div class="eye"></div>
      <div class="eye right"></div>
      <div class="mouth sad"></div>
    </div>
    <div class="shadow move"></div>
    <div class="message"><h1 class="alert H1">Sorry</h1><p class="P">Incorrect Email or Password</div>
    <button class="button-box"><a class="red H3" href="/register">Try again</a></button>
  </div>
</div>