<%- include('partials/header') %>
<div class="filter-bar">
    <div class="grid-element type">
        <label for="support-type">Type</label><br>
        <select class="helpline-box box-1" name="support-type" id="support-type">
            <option value="Helpline">Helpline</option>
            <option value="Experts">Experts</option>
            <option value="Support Group">Support Groups</option>
        </select>
    </div>

    <div class="grid-element search">
        <label for="search">Search</label><br>
        <input class="helpline-box box-2" type="text" placeholder="Search for name, location and tag">
    </div>

    <div class="grid-element country">
        <label for="country">Country</label><br>
        <select class="helpline-box box-1 " name="country" id="">
            <option value="All">All</option>
            <option value="India">India</option>
            <option value="USA">USA</option>
            <option value="Canada">Canada</option>
        </select>
    </div>

    
    <div class="grid-element button">
        <label for="">Search</label><br>
        <button class="helpline-box box-1">Search</button>
    </div>
</div>


<div class="helpline-centers">
    <div class="helpline-card">
        <div class="card-title">
            <i class="bi bi-building"></i>
            <h2>Lifeline Foundation</h2>
            <img src="https://www.countryflagicons.com/FLAT/64/IN.png">
                <!-- example: <img src="https://www.countryflagicons.com/FLAT/64/DE.png">
                example: <img src="https://www.countryflagicons.com/SHINY/64/DE.png"> -->
        </div>
        <div class="category">Psychologist, Crisis Helpline</div>
        <div class="link">
            <a href="https://lifelinefoundation.in/?ref=nowandme">
                <i class="bi bi-globe"></i>
                https://lifelinefoundation.in
            </a>
        </div>
        <div class="contact-number">
            <a href="tel:+919061686995">
                <i class="bi bi-telephone"></i>
                +91 9061686995
            </a>
        </div>
        <div class="location">
            <i class="bi bi-geo-alt"></i> Location
        </div>
        <div class="time">
            <i class="bi bi-clock"></i> 10AM to 10PM
        </div>
    </div>

    <div class="helpline-card">
        <div class="card-title">
            <i class="bi bi-building"></i>
            <h2>Lifeline Foundation</h2>
            <img src="https://www.countryflagicons.com/FLAT/64/DE.png">
                <!-- example: <img src="https://www.countryflagicons.com/FLAT/64/DE.png">
                example: <img src="https://www.countryflagicons.com/SHINY/64/DE.png"> -->
        </div>
        <div class="category">Psychologist, Crisis Helpline</div>
        <div class="link">
            <a href="https://lifelinefoundation.in/?ref=nowandme">
                <i class="bi bi-globe"></i>
                https://lifelinefoundation.in
            </a>
        </div>
        <div class="contact-number">
            <a href="tel:+919061686995">
                <i class="bi bi-telephone"></i>
                +91 9061686995
            </a>
        </div>
        <div class="location">
            <i class="bi bi-geo-alt"></i> Location
        </div>
        <div class="time">
            <i class="bi bi-clock"></i> 10AM to 10PM
        </div>
    </div>

    <div class="helpline-card">
        <div class="card-title">
            <i class="bi bi-building"></i>
            <h2>Lifeline Foundation</h2>
            <img src="https://www.countryflagicons.com/FLAT/64/IN.png">
                <!-- example: <img src="https://www.countryflagicons.com/FLAT/64/DE.png">
                example: <img src="https://www.countryflagicons.com/SHINY/64/DE.png"> -->
        </div>
        <div class="category">Psychologist, Crisis Helpline</div>
        <div class="link">
            <a href="https://lifelinefoundation.in/?ref=nowandme">
                <i class="bi bi-globe"></i>
                https://lifelinefoundation.in
            </a>
        </div>
        <div class="contact-number">
            <a href="tel:+919061686995">
                <i class="bi bi-telephone"></i>
                +91 9061686995
            </a>
        </div>
        <div class="location">
            <i class="bi bi-geo-alt"></i> Location
        </div>
        <div class="time">
            <i class="bi bi-clock"></i> 10AM to 10PM
        </div>
    </div>
</div>
<%- include('partials/footer') %>