<%- include('partials/header') %>

<div class="regSign-container" id="regSign-container">


	<div class="form-container sign-up-container">


		<form action="/register"  method="POST" id="from-regSign" onsubmit ="return verifyPassword()">
			<h1 id="h1-regSign">Create Account</h1>


			<div class="social-container">
				<a id="a-regSign" href="/auth/google" class="social"><img class="icon icon-btn" src="google.png" /><h4 class="anim-text">Sign Up with Google</h4></a>
			</div>
			<p class="p-regSign">or use your email for registration</p>
            <div class="invalid-message">
                <p><i id="message"></i></p>
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><img class="icon icon-input" src="email.png"></div>
                </div>
                <input name="usrEmail" type="email" class="form-control " id="signUpEmail" placeholder="Email">
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><img class="icon icon-input" src="padlock.png"></div>
                </div>
                <input name="usrPassword" type="password" class="form-control " id="pswd1" placeholder="Super Password">
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><img class="icon icon-input" src="padlock.png"></div>
                </div>
                <input name="usrConfirmPassword" type="password" class="form-control " id="pswd2" placeholder="Confirm Super Password">
            </div>

            
			<button class="button-regSign">Sign Up</button>
		</form>
	</div>

    
	<div class="form-container sign-in-container">
		<form action="/login" method="POST"  onsubmit ="return loginVerify()">
			<h1 id="h1-regSign">Sign in</h1>
			<div class="social-container">
				<a id="a-regSign" href="/auth/google" class="social"><img class="icon icon-btn" src="google.png" /><h4 class="anim-text">Sign In with Google</h4></a>
			</div>
			<p class="p-regSign" id="opt">or use your account</p>
            <div class="invalid-message">
                <p><i id="loginMessage"></i></p>
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><img class="icon icon-input" src="user.png"></div>
                </div>
                <input  name="loginUsername" type="email" class="form-control " id="loginUsr" placeholder="Email">
            </div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><img class="icon icon-input" src="padlock.png"></div>
                </div>
                <input name="loginPassword" type="text"  class="form-control" id="loginPass" placeholder="Password">
            </div>
            



			<button class="button-regSign" >Sign In</button>
            <a  id="a-regSign" href="#">Forgot your password ?</a>


		</form>


	</div>
	<div class="overlay-container-register">
		<div class="overlay-register">
			<div class="overlay-panel overlay-left">
				<h1 id="h1-regSign">Welcome Back!</h1>
				<p class="p-regSign">To keep connected with us please login with your personal info</p>
				<button class="ghost button-regSign " id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1 id="h1-regSign">Hello, Friend!</h1>
				<p class="p-regSign">Enter your personal details and start journey with us</p>
				<button class="ghost button-regSign" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>


</div>

<script>

function loginVerify(){

    var username = document.getElementById("loginUsr").value; 
    var password = document.getElementById("loginPass").value; 

    if(password.length  == 0 | username.length == 0){
        document.getElementById("loginMessage").innerHTML = "Please enter your Email and Password";  
        return false; 
  }

}

function verifyPassword() {  
  var pw = document.getElementById("pswd1").value; 
  var pwC = document.getElementById("pswd2").value;   

  //check empty password field  
  if(pw == "") {  
     document.getElementById("message").innerHTML = "Columns can't be empty";  
     return false;  
  }  
   
 //minimum password length validation  
  if(pw.length < 8) {  
     document.getElementById("message").innerHTML = "Password length must be atleast 8 characters";  
     return false;  
  }  
  
//maximum length of password validation  
  if(pw.length > 15) {  
     document.getElementById("message").innerHTML = "Password length must not exceed 15 characters";  
     return false;  
  }
  if(pw != pwC) {  
     document.getElementById("message").innerHTML = "Passwords donot match";  
     return false;  
  }

}  


    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('regSign-container');

    signUpButton.addEventListener('click', () => {
	container.classList.add("right-panel-active");
    });

    signInButton.addEventListener('click', () => {
	container.classList.remove("right-panel-active");
    });


</script>