<%- include('partials/header') %>
<div id="success-box">
    <div class="dot"></div>
    <div class="dot two"></div>
    <div class="face">
      <div class="eye"></div>
      <div class="eye right"></div>
      <div class="mouth happy"></div>
    </div>
    <div class="shadow scale"></div>
    <div class="message"><h1 class="alert H1">Success!</h1><p class="P">We love you more !</p></div>
    <button class="button-box"><h3 class="green H3">Continue</h3></button>
  </div>